body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(luke.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(luke.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

input {
  color: #fff!important;
}

